Dear <%=@user.full_name%>

This message was sent to you via Northwood messaging system.

There was a mortgage renewal request from:

Name: <%= @name %>
Email: <%= @email %>
Mortage Maturity Date: <%= @maturity_date %>

Sincerely,
Northwood Mortgage Administrator