Dear
<%=@user.full_name%>

This message was sent to you via Northwood messaging system.

A new Pre-Application form has been submitted:

* Name: <%= @contact.full_name %>
* Address: <%= @contact.address %>
* Phone: <%= @contact.phone %>
* Mobile: <%= @contact.mobile %>
* Fax: <%= @contact.fax %>
* Email: <%= @contact.email %>
* Note: <%= @contact.notes %>


Sincerely,
Northwood Mortgage Administrator