%h1 About Northwood Mortgage

= header_links(['Management Profiles', '/about/management'], ['Investor Information', '/about/investor'], ['Strategic Alliances', '/about/alliances'])

= display_page('About Us - Strategic Alliances')