%h1 Interest Rates and Set-up Costs

= header_links(['Home', '/'], ['Ownership & Estate Protection', '/ownership'], ['<b>Interest Rates and Set-up Costs</b>', '/costs'])

= display_page('Reverse Mortgages - Interest Rates and Set-up Costs')