%h1 Northwoodmortgage Reverse Mortgages

= header_links(['<b>Home</b>', '/'], ['Ownership & Estate Protection', '/ownership'], ['Interest Rates and Set-up Costs', '/costs'])

= display_page('Reverse Mortgages')