%h1 Mortgage Solutions

= header_links(['Residential 1st &amp; 2nd Mortgages', '/mortgages'], ['Commercial &amp; Industrial Mortgages', '/mortgages/commercial'])

= display_page('Mortgage Solutions - Residential')