<p>
  Dear
  <%=@user.full_name%>
</p>
<p>
  This message was sent to you via Northwood messaging system.
</p>
<p>
  Reminder Re: <%=@contact%>
</p>
<p>
  <%=@reminder%>
</p>
<p>
  Sincerely,
  <br />
  Northwood Mortgage Administrator
</p>