Dear <%=@user.full_name%>

This message was sent to you via Northwood messaging system.

  You new password is: <%=@new_password%>

It's a computer generated password, so it might be hard to remember.
Once you have logged in, you can go to the 'Edit your profile' page,
where you can change it to something you'll remember more easily.

Sincerely,
Northwood Mortgage