Dear <%=@contact.full_name%>

Thank you for submitting your Pre-Approval Application.

Looks like we already have some of your information (shown below) in our system.
If you need to update your information, please contact us.


Name: <%= @contact.full_name %>
Address: <%= @contact.address %>
Home Phone: <%= @contact.phone %>
Mobile Phone: <%= @contact.mobile %>
Fax: <%= @contact.fax %>
Email: <%= @contact.email %>


Sincerely,
Northwood Mortgage